In [1]:
a=45

In [2]:
type(a)

int

In [3]:
b=35.5

In [4]:
type(b)

float

In [1]:
c="khitish"

In [2]:
type(c)

str

In [4]:
lst=["khitish",21,12.5,[1,2,4]]

In [5]:
lst[0]

'khitish'

In [6]:
lst[3][1]

2

In [8]:
lst.append("pattanayak")

In [9]:
lst

['khitish', 21, 12.5, [1, 2, 4], 'pattanayak']

In [11]:
lst[-1]

'pattanayak'

In [24]:
dit = {"name": "khitish","age": "20"}

In [25]:
dit.get("age")

'20'

In [27]:
dit.keys()

dict_keys(['name', 'age'])

In [28]:
dit.pop("age")

'20'

In [29]:
dit

{'name': 'khitish'}

In [30]:
dit["school"]="kvs";

In [31]:
dit

{'name': 'khitish', 'school': 'kvs'}

In [32]:
st = {1,2,2,3,4,5,5,4,3,3,"khitish","pattanayak",'mumbai'}

In [33]:
st

{1, 2, 3, 4, 5, 'khitish', 'mumbai', 'pattanayak'}

In [34]:
st1 = {"khitish",1}

In [35]:
st1.issubset(st)

True

In [37]:
tup = ("khitishrajib","@","gmail.com")

In [38]:
tup

('khitishrajib', '@', 'gmail.com')

In [41]:
tup.count("@")

1

In [42]:
tup.index("gmail.com")

2

In [44]:
abc = "5"

In [45]:
xyz = "7"

In [3]:
abc = "5"
xyz = "6"
if abc==xyz: 
    print("true")
else:
    print("false");

false